/* File Name: assign4.css
Date: 04/23/2014
Programmer: Rochelle Simpson */

dl, dt, dl { margin:0;padding:0; }

dt			{ color:#C90;font-weight:bold;margin-bottom:1em;cursor:pointer;line-height:16px;background: url(../../../jqueryfordesigners2%20-%20Copy/week4/images/arrow-sprite.png) 0 0 no-repeat;padding-left:18px; }
dt:hover	{ color:#FC0;background-position:0 -16px; }
dt.open		{ background-position: 0 -32px; }
dt.open:hover	{ background-position: 0 -48px;}
dd			{ margin-left: 2em; }
dd *:first-child	{ margin-top:0;padding-top:0;}
