/*File Name: week7.css
Date: 05/15/2014 
Programmer: Rochelle Simpson*/

#credits	{ border-top:1px solid #eee8d5;margin:30px 10px 10px 10px;padding:10px; }
#credits p	{ font-size:12px;margin:0;padding:0; }
#news-carousel li	{ overflow:hidden;zoom:1;list-style-type:none; }
#news-carousel li img	{ float:left; }
#news-carousel li .info	{ margin-left:210px; }
#news-carousel h4	{ margin:0;padding:0; }
#news-carousel p	{ margin:0;padding:0;font-size:14px; }
.jcarousel-skin-tango .jcarousel-container	{ -moz-border-radius: 5px;-webkit-border-radius:5px;border-radius:5px;border-color:#F90;background:#FFF; }
.jcarousel-skin-tango .jcarousel-item	{ width:475px;height:220px; }
.jcarousel-skin-tango .jcarousel-clip-vertical	{ width:475px;height:470px; }
.jcarousel-skin-tango .jcarousel-container-vertical	{ height:470px;width:475px; }
.jcarousel-skin-tango .jcarousel-prev-vertical,
.jcarousel-skin-tango .jcarousel-next-vertical	{ left:0;right:0;width:auto; }
.jcarousel-skin-tango .jcarousel-prev-vertical	{ top:0;background:#FC0 url(../images/arrows.png) 50% 0 no-repeat; }
.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus	{ background-color:#F90;background-position:50% 0; }
.jcarousel-skin-tango .jcarousel-next-vertical	{ background:#FC0 url(../images/arrows.png) 50% -32px no-repeat;bottom:0; }
.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus { background-color:#F90;background-position:50% -32px; }

