body {
	font:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}

img {
	padding:10px;	
}

#container {
	width: 800px;
	margin: 0 auto;
	}

#header {
	width: 800px;
	position:relative;
	float:left;
}

#content {
	position:relative;
	width:720px;
	float:inherit;
	clear:both;
	overflow:auto;
	margin-left: 60px;
	font-size:12px;
}

#footer {
	font-size:small;
	font-style:italic;
	text-align:center;
	width: 800px;
	position:relative;
	float:left;
}

#wrapper {
	min-width:600px;
	-webkit-box-shadow:inset 5px 5px 5px #828282;
	-moz-box-shadow:inset 5px 5px 5px #828282;
	box-shadow: inset 5px 5px 5px #828282;
}