/*File Name: assign6.css 
Date: 05/08/2014 
Programmer: Rochelle Simpson*/

.sf-menu,
.sf-menu *	{
	list-style:	none;
	margin: 0;
	padding: 0;
	}

.sf-menu	{
	background: #FFC; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(153,102,51,1) 1%, rgba(56,56,56,1) 16%, rgba(255,255,255,1) 17%, rgba(246,246,246,1) 47%, rgba(255,255,153,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(153,102,51,1)), color-stop(16%,rgba(56,56,56,1)), color-stop(17%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(255,255,153,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(153,102,51,1) 1%,rgba(56,56,56,1) 16%,rgba(255,255,255,1) 17%,rgba(246,246,246,1) 47%,rgba(255,255,153,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(153,102,51,1) 1%,rgba(56,56,56,1) 16%,rgba(255,255,255,1) 17%,rgba(246,246,246,1) 47%,rgba(255,255,153,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(153,102,51,1) 1%,rgba(56,56,56,1) 16%,rgba(255,255,255,1) 17%,rgba(246,246,246,1) 47%,rgba(255,255,153,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(153,102,51,1) 1%,rgba(56,56,56,1) 16%,rgba(255,255,255,1) 17%,rgba(246,246,246,1) 47%,rgba(255,255,153,1) 100%); /* W3C */
	float: left;
	font-family: georgia, times, 'times new roman', serif;
	font-size: 16px;
	line-height: 14px;
	margin: 28px 0 14px 0;
	padding: 0 14px;
	}

.sf-menu li	{
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	float: left;
	position: relative;
	}

.sf-menu li.sfHover,
.sf-menu li:hover	{
	visibility: inherit; /* fixes IE7 'sticky bug' */
	}

.sf-menu li.sfHover,
.sf-menu li:hover	{
	background: #FC0;
	border-color: #C60;
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	}

.sf-menu a	{
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	color: #FC0;
	display: block;
	padding: 28px 14px;
	position: relative;
	width: 98px;
	text-decoration: none;
	}

.sf-menu li.sfHover a,
.sf-menu li:hover a	{
	background: #FC0;
	border-color: #C60;
	color: #930;
	outline: 0;
	}

.sf-menu a,
.sf-menu a:visited	{
	color: #960;
	}

/***** Level 2 ****/
.sf-menu ul	{
	background: rgb(255,204,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,204,0) 0%, rgba(211,54,130,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,204,0)), color-stop(100%,rgba(211,54,130,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,204,0) 0%,rgba(211,54,130,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,204,0) 0%,rgba(211,54,130,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,204,0) 0%,rgba(211,54,130,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df6ea5', endColorstr='#d33682',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,204,0) 0%,rgba(211,54,130,1) 100%); /* W3C */
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border: 1px solid #C60;
	border-top: 0 none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: -999em;
	left: 0;
	width: 128px;
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	font-size: 14px;
	}

.sf-menu ul li	{
	border-left: 1px solid #C60;
	border-right: 1px solid #C60;
	display: block;
	float: none;
	}

.sf-menu ul li:last-child	{
	border-bottom: 1px solid #C60;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	}

.sf-menu ul li:last-child a	{
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	}

.sf-menu li.sfHover li.sfHover,
.sf-menu li:hover li:hover	{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	}

.sf-menu li.sfHover li.sfHover	{
	border-right-color: #FF0;
	}

.sf-menu li li a	{
	border: 0 none;
	padding: 14px;
	}

.sf-menu li li:first-child a	{
	padding-top: 0;
	}

.sf-menu li li.sfHover a,
.sf-menu li li:hover a	{
	background: transparent;
	border: 0 none;
	color: #FC0;
	outline: 0;
	}

.sf-menu li li a:hover	{
	color: #C60;
	}

.sf-menu li.sfHover li a,
.sf-menu li:hover li a	{
	background: transparent;
	}

.sf-menu li.sfHover li.sfHover a	{
	background: #FC6;
	}

.sf-menu li.sfHover ul,
.sf-menu li:hover ul	{
	left: -1px;
	top: 70px; /* match top ul list item height */
	z-index: 99;
	}

.sf-menu li li.sfHover,
.sf-menu li li:hover	{
	background: transparent;
	border-color: #fff;
	}

/**** Level 3 ****/
ul.sf-menu li.sfHover li ul,
ul.sf-menu li:hover li ul	{
	background: #630;
	top: -999em;
	-webkit-border-radius: 7px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 7px;
	-moz-border-radius-topleft: 0;
	border-radius: 7px;
	border-top-left-radius: 0;
	}

ul.sf-menu li.sfHover li ul li,
ul.sf-menu li:hover li ul li	{
	background: transparent;
	border: 0 none;
	}

ul.sf-menu li li.sfHover ul,
ul.sf-menu li li:hover ul	{
	left: 9em; /* match ul width */
	top: 0;
	}

.sf-menu li.sfHover li.sfHover li a,
.sf-menu li:hover li:hover li a	{
	background: transparent;
	}

.sf-menu li li li:first-child a	{
	padding-top: 14px;
	}

.sf-menu li li li a:hover	{
	background: transparent;
	color: #FC3;
	}

/*** ARROWS ***/
.sf-sub-indicator	{
	display: none;
	}