/*File Name: assign8.css 
Date: 05/21/2014 
Programmer: Rochelle Simpson*/

#credits	{ border-top:1px solid #eee8d5;margin:30px 10px 10px 10px;padding:10px; }
#credits p	{ font-size:12px;margin:0;padding:0; }
